html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100%;
    max-width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: lightgray;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
    display: block;
}

body {
    color: #fff;
    background: lightseagreen;
    font-family: sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    flex: 1 1 auto;
}

.footer__container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__copyright_link {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__copyright_link:hover {
    color: #69db7e;
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer__github {
    width: 24px;
    transition: scale 0.3s ease-in-out;
}

.footer__rs-school {
    width: 70px;
    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.footer__github:hover,
.footer__rs-school:hover {
    transform: scale(1.05);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin: 0 auto;
    padding: 10px;
    max-width: 550px;
}

.search__input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
    color: black;
    height: 52px;
}

.search__input:focus {
    outline: none;
    border: 1px solid lightseagreen;
    box-shadow: 0 0 10px #30c5ff;
}

.search__btn {
    cursor: pointer;
    height: 52px;
    width: 125px;
    background-color: #30c5ff;
    border: none;
    font-size: 16px;
    color: white;
}

.search__btn:hover {
    border-color: #3fcc59;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
}

@media (max-width: 450px) {
    .search {
        flex-wrap: wrap;
    }
}
